@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 600px;
  --min-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  background: #444;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
}

header {
  color: #eee;
  text-align: center;
  font-size: 36px;
}

footer {
  margin-top: 5px;
  text-align: center;
  color: #222;
}

.main-container {

}

.inner-cpc {
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: 30px;
  color: #eee;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sound-control *:first-of-type {
  width: 20px;
  margin: 5px 20px 0 0;
  cursor: pointer;
}

.display-HUD-container {
  padding: 20px;
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: 200px;
  margin: 0 auto;
  color: lime;
  border: 3px solid #ddd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.display-HUD-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Courier Prime', monospace;
}

.press-play {
  text-align: center;
  padding-top: 24px;
  color: lime;
  opacity: 1;
  animation: flicker 1s ease;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0% {opacity: 1;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}

.current-unit {
  width: 50%;
  height: 160px;
}

.previous-unit,
.next-unit {
  height: 160px;
  width: 25%;
}

.timing-line {
  background: #ff5a5a;
  width: 300px;
  height: 3px;
  margin: 0 auto;
}

.timing-line-1 {transition: all 5s linear}
.timing-line-2 {transition: all 3s linear}
.timing-line-3 {transition: all 1.5s linear}

.trim {width: 0px}
.grow {width: 300px}

.training-unit {
  text-align: center;
}

.current-unit {
  font-size: 24px;
}

.previous-unit {
  color: #666;
}

.next-unit {
  color: #b8ffb8;
  opacity: 0.7;
}